.path-frontpage #auth_box #middle_part > h2.title {
	display: flex;
	justify-content: center;
}

.path-frontpage #bottom_part  {
	margin-top: -110px;
	
}



.path-frontpage #bottom_part .password_link , .path-frontpage #bottom_part  .back_link {
	  display: flex;
    justify-content: center;
}

.path-frontpage .region.region--highlighted.grid-full.layout--pass--content-medium {
	  display: flex;
    flex-direction: column;
}

.path-frontpage .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow {
	/*margin-left: -16%;*/
	display: flex;
}

.path-frontpage nav.tabs-wrapper > ul.tabs.tabs--primary {
	  /*display: flex;*/
    justify-content: center;
    /*margin-left: -56px;*/
}

.path-frontpage #block-olivero-primary-local-tasks {
	margin-bottom: 0;
}
.path-frontpage #block-olivero-content {
	    margin-top: 25px;
}

.path-frontpage #auth_box {
    width: 25%;
	}
#auth_box.password {
    width: 25%;
}

#auth_box.password .region.region--highlighted {
	display: flex;
} 
#auth_box.password .region.region--highlighted .tabs.tabs--primary {
	width: max-content;
}
#auth_box.password #block-olivero-content {
	display: flex;
  grid-column: unset;
}
#auth_box.password form.user-pass {
	width: 85%;
}
#auth_box.password #bottom_part {
	    /* margin-top: -110px; */
}

.page-user-password .form-actions.js-form-wrapper.form-wrapper {
	display: inline-flex;
}

.page-user-password .js-form-item.form-item.js-form-type-textfield.form-item-name.js-form-item-name {
	text-align: center;
}
.page-user-password .back-to-login a {
	color: black;
}
.page-user-password #block-b-zf-content .user-pass{
	width : 100% !important;
}
.page-user-password .back-to-login {
	
    margin-top: 1rem;
	padding: 5px 20px;
    height: 29px;
    font-size: 1rem;
    background-color: #eee;
    color: #0a0a0a;
    text-shadow: 0 1px #e3f1f1;
    border: 1px solid;
    border-color: #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: none;
    box-shadow: none;
}

#auth_box.password #bottom_part .login_link {
	display: flex;
  justify-content: center;
}
#auth_box.password #bottom_part .back_link {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
	#auth_box.password {
    width: 97%;
}
  /* For mobile phones: */
  .path-frontpage #auth_box {
    width: 100%;
	}
	
	.path-frontpage .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow{
    margin-left: 0;
	}
	.path-frontpage #middle_part {
		    min-height: 550px;
	}
	.path-frontpage #middle_part {
		min-height: 600px;
	}
}
  

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
	.path-frontpage #auth_box {
    width: 100%;
	}
	.path-frontpage #block-olivero-content .block__content {
		display: flex;
	}
	.path-frontpage #block-olivero-content .block__content .user-login-form {
		margin: auto;
	}
	.path-frontpage #the_logo img {
		max-width: 40%;
    margin: auto;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#auth_box.password {
    width: 72%;
  }
  /* For mobile phones: */
  .path-frontpage #auth_box {
    width: 100%;
	}
/*	.path-frontpage #auth_box */
	
	.path-frontpage .region.region--content.grid-full.layout--pass--content-medium.ie11-autorow{
    margin-left: 0;
	}
	.path-frontpage #the_logo img {
		max-width: 40%;
    margin: auto;
	}
}